@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    font-size: large;
}
